*.iml
*.idea
.idea
out/*
build/*
gen/*
*/bin/*
*.class
*.iws
*.ipr
*/out/**
*/build/**
*/*.iml
*/gen/*
*/bin/**
*/*.class
*.iws
*.ipr
*/R.java
gen/
classes/
bin/
*.log
*/*/proguard_logs/**
/private_test
*.exe
/log
/out
/data
/bloomfilter.bin
/bin
/src/github.com
/pkg
/pkg/*
/cluster
.DS_Store
/bin-run/
/leveldb
/dist
vendor
.git
trash
*.so
.public
generated_*.go
config/generated.go
config/*.tpl
config/*.yml
